{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contactanos</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">¿Tienes alguna pregunta? Por favor, no dudes en ponerte en contacto con nosotros directamente. Nuestro equipo te responderá en cuestión de horas para ayudarte.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

               
                <!--Grid row-->
                {% csrf_token %}
                 {{ form.as_p }}
                 <div class="text-center text-md-left">
                    <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
                </div>
            </form>

           
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Calle Antillano Campos, 5</p>
                    <p>Sevilla, 41010, España </p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+34 687 78 30 35</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>admin@amavinos.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->

{% endblock content %}