{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- intro here -->
<div class="section">

    <div class="row">
        <div class="col-md-12">

			<!-- Add intro form here -->
            <h1>Bienvenido a Nuestra Tienda de Vinos</h1>
            <p>¡Bienvenidos a nuestra Tienda de Vinos en Sevilla! Aquí podrán embarcarse en un fascinante viaje por toda España con tan solo un sorbo. Nuestra selección de vinos españoles los llevará a través de las regiones vinícolas más icónicas, brindándoles la oportunidad de descubrir los sabores auténticos de este hermoso país. Ya sea que prefieran comprar en línea o visitarnos en nuestro establecimiento físico, estamos comprometidos a brindarles la mejor experiencia posible.

				En nuestra tienda, pueden degustar una variedad de vinos y recibir asesoramiento de nuestros expertos enológicos. Ofrecemos vinos tintos, blancos y dulces de las prestigiosas Denominaciones de Origen de toda España, como Rioja, Ribera del Duero, Priorat y más. Además, proporcionamos un servicio de envío rápido y seguro para que puedan disfrutar de sus vinos favoritos en la comodidad de su hogar.
				
				En nuestra Tienda de Vinos en Sevilla, estamos orgullosos de ser su puerta de entrada al apasionante mundo del vino español. ¡Esperamos verlos pronto y compartir esta experiencia única con ustedes!</p>
        </div>
    </div>
	<div class="row">
		<!--qui i filtri-->
		
		<div class="col-sm-12 col-md-3 col-lg-3">
			<div class="filters">
				<button class="btn btn-success" style="background-color: #800000; border: none;" type="button" data-toggle="collapse" data-target="#mobile-filter" aria-expanded="true" aria-controls="mobile-filter">
					Filter<span class="px-1 fas fa-filter"></span>
				</button>
			</div>
				<div id="mobile-filter">
					<div class="py-3">
						<h5 class="font-weight-bold">Categories</h5>
						<ul class="list-group">
							{% for tipo in tipos_list %}
							<li class="list-group-item category">
								<form id="filterForm" action="{% url 'filtered_results' %}" method="get">
									<button name="category" value="{{ tipo }}" class="filter-btn" type="submit">
										{{ tipo }}
										<!-- You can remove the badge if not needed -->
										<span class="badge badge-primary badge-pill">11</span>
									</button>
								</form>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="py-3">
						<h5 class="font-weight-bold">Bodegas</h5>
						<form class="brand">
							{%for bodega in bodegas_list%}
							<div class="form-inline d-flex align-items-center py-1"> <label class="tick">{{bodega}} <input type="checkbox"> <span class="check"></span> </label> </div>
							{%endfor%}
						</form>
					</div>
					<div class="py-3">
						<h5 class="font-weight-bold">Rating</h5>
						<form class="rating">
							
							<div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
							<div class="form-inline d-flex align-items-center py-2"> <label class="tick"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
							<div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
							<div class="form-inline d-flex align-items-center py-2"> <label class="tick"><span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
							<div class="form-inline d-flex align-items-center py-2"> <label class="tick"> <span class="fas fa-star"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <span class="far fa-star px-1 text-muted"></span> <input type="checkbox"> <span class="check"></span> </label> </div>
						</form>
					</div>
				</div>


		</div>
		<!--fine filtri -->
		<div class="col-sm-12 col-md-9 col-lg-9" >
			<!-- show products-->
		<div class="row">
			<style>
				.card {
					margin: 0.5vw; /* Adjust the value as needed */
					height: 40vw;
					width:auto;
					object-fit: contain; 

				}
				.reshaped-image {
					height:300px;
					/* Set the maximum height */
					width: auto; /* Automatically adjust the width to maintain aspect ratio */
					object-fit: contain; 
				}
				.card-body {
					padding: 7px; /* Adjust the value as needed */
				}
			</style>
			{% for product in products %}
			<div class="card col-lg-3 col-md-4 col-sm-6 col-9">
				<img  src="{{product.imageURL}}" class="reshaped-image card-img-top" alt="{{product.name}}">
				<div class="card-body">
				  <h5 class="card-title">{{product.nome}}</h5>
				  <p class="card-text">{{product.display_price}}</p>
				  <p class="card-text">{{product.snippet}}</p>
				  <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				  <a class="btn btn-outline-success" href="{%url 'product_detail' product.slug %}">View</a>
				  {%comment%}<a class="btn btn-outline-success" href="{%url 'product_detail'%}">View</a>{%endcomment%}
				</div>
			</div>
			{% endfor %}
		</div>
	
		
		</div>
	</div>
	
</div>






{% endblock content %}
