{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- intro here -->
<div class="container">
    <div class="row">
        <div class="col-md-12">

			<!-- Add intro form here -->
            <h2>Bienvenido a Nuestra Tienda de Vinos</h2>
            <p>¡Bienvenidos a nuestra Tienda de Vinos en Sevilla! Aquí podrán embarcarse en un fascinante viaje por toda España con tan solo un sorbo. Nuestra selección de vinos españoles los llevará a través de las regiones vinícolas más icónicas, brindándoles la oportunidad de descubrir los sabores auténticos de este hermoso país. Ya sea que prefieran comprar en línea o visitarnos en nuestro establecimiento físico, estamos comprometidos a brindarles la mejor experiencia posible.

				En nuestra tienda, pueden degustar una variedad de vinos y recibir asesoramiento de nuestros expertos enológicos. Ofrecemos vinos tintos, blancos y dulces de las prestigiosas Denominaciones de Origen de toda España, como Rioja, Ribera del Duero, Priorat y más. Además, proporcionamos un servicio de envío rápido y seguro para que puedan disfrutar de sus vinos favoritos en la comodidad de su hogar.
				
				En nuestra Tienda de Vinos en Sevilla, estamos orgullosos de ser su puerta de entrada al apasionante mundo del vino español. ¡Esperamos verlos pronto y compartir esta experiencia única con ustedes!</p>
        </div>
    </div>
</div>



<!-- show products-->
	<div class="row">
		<style>
			.card {
				margin: 4px; /* Adjust the value as needed */
			}
			.reshaped-image {
				height:300px;
				/* Set the maximum height */
				width: auto; /* Automatically adjust the width to maintain aspect ratio */
				object-fit: contain; 
			}
			.card-body {
				padding: 10px; /* Adjust the value as needed */
			}
		</style>
		{% for product in products %}
		<div class="card col-lg-3 col-md-4 col-sm-6 col-6">
			<img  src="{{product.imageURL}}" class="reshaped-image card-img-top" alt="{{product.name}}">
			<div class="card-body">
			  <h5 class="card-title">{{product.name}}</h5>
			  <p class="card-text">{{product.display_price}}</p>
			  <p class="card-text">{{product.snippet}}</p>
			  <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
			  <a class="btn btn-outline-success" href="{%url 'product_detail' product.slug %}">View</a>
			  
			</div>
		</div>
		{% endfor %}
	</div>

{% endblock content %}
